.home {
    background-color: var(--main-color);
    overflow: hidden;
    padding-bottom: 1rem;
}
.container{
    padding-left: 2rem;
    padding-top: 5rem;
    width: 100vw;
    height: 100vh;

    h1{
        margin-bottom: 1.5rem;
    }
    .cards{
        
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        row-gap: 2.5rem;
    }
}
  