*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.playback{
    height: 100vh;
    width: 100vw;
    // position: relative;

    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .top{
        display: flex;
        align-items: center;
        position: absolute;

        color: rgb(255, 255, 255);
        cursor: pointer;
        z-index: 10;

        margin-top: 1.5rem;
        margin-left: 2rem;
    }
}