.featuring {
    height: 70vh;
    background-color: black;
    position: relative;
    


    .frontwala {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // background-position: center;
        position: absolute;
        // background-image: linear-gradient(to right, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.1));
        opacity: 0.6;
        // background: linear-gradient(to right, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0.1));
        // display: block;
    }

    .info {
        width: 30%;
        position: absolute;
        left: 5vw;
        bottom: 9.5vh;
        display: flex;
        flex-direction: column;
        // background-image: linear-gradient(to right, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.1));


        img {
            width: 37vw;
        }

        .desc {
            margin: 1.2rem 0rem;
        }

        .buttons {
            display: flex;

            .play{
                background-color:rgba(220, 179, 67, 0.614);
                color: black;
            }

            button {
                padding: 0.5rem 1rem;
                border: none;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgb(187, 190, 193);
                background-color: rgba(52, 46, 46, 0);
                font-size: 1.5rem;
                margin-right: 1rem;
                cursor: pointer;


                .icon {
                    font-size: 2.6rem;
                }

                span {
                    margin-left: .5rem;
                }
            }
        }
    }
}